body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

form, #pswdInput {
    margin: 20px auto;
    margin-bottom: 0;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#pswdBox {
    display: flex;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    gap: 10px;
}

.question,
.lastQuestion {
    margin-bottom: 20px;

    & p {
        margin-bottom: 5px;
    }
}

.points {
    font-weight: bold;
}

input[type="text"] {
    width: 95%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
}

#buttons {
    display: flex;
    gap: 10px;
}

button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}